<%- include("../../partials/header") %>




<h1 class="text-center">
	MSK: Histology Sets
</h1>

<!-- Here would show the slides and it's title -->

<div class="container">
	<a class="btn btn-info" href="/MSK/histo/new">Add a New Set</a>
	<button type="button" class="btn btn-secondary">Design a Test</button>
	<p></p>	
  <div class="row border border-info">
    <div class="col"> Title:</div>
    <div class="col" href=""> ID:</div>
    <div class="col" href=""> Created By:</div>
    <div class="col-4"href=""> Number of Slides:</div>

	</div>
  </div>






	 	<% mskHistos.forEach(function(mskHisto){ %>
	<div>
		<div class="container">
	  <div class="row border border-info">
		<div class="col"><p></p><a href="#" class="text-decoration-none"> <%= mskHisto.title %></a></div>
		<div class="col" href=""><p></p><a href="#" class="text-decoration-none"> <%= mskHisto.id %></a></div>
		<div class="col" href=""><p></p><a href="#" class="text-decoration-none"> <%= mskHisto.author.username %> </a></div>
		<div class="col"href=""><p></p><a href="#" class="text-decoration-none"> Number of Slides</a> </div>

	<p>
			<a href="/MSK/histo/<%= mskHisto._id %>" class="btn btn-warning" >Study Set</a>
		</p>
		</div>
	</div>
		<% }); %>


<%- include("../../partials/footer") %> 


	 
